<!-- <div [innerHTML]="https://github.com/alfredo00sd"></div> -->
<!-- <p>Working on it...</p> -->
<div style="margin-top:10px;" class="container">
    <div class="row">
        <div class="col col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/29100282?s=460&u=d2530962b0924221b0f202d974d84e1f8a598033&v=4" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Alfredo Acosta Peña</h5>
                  <p class="card-text">A dedicate software developer with high interest in problem solving throw software implementation.</p>
                </div>
                <div class="card-body">
                  <a href="https://github.com/alfredo00sd" class="card-link">Github</a>
                  <a href="https://www.linkedin.com/in/alfredo-acosta-pe%C3%B1a-3837a7144/" class="card-link">Linkedin</a>
                </div>
              </div>
        </div>
        <div class="col col-8">
            <div style=" width: 100%; height: 100%; box-sizing: border-box;" class="card text-center">
                <div class="card-header">
                  AppTreeRD
                </div>
                <div class="card-body">
                  <h5 class="card-title">Un arbol a la vez!</h5>
                  <p class="card-text">Es un app con el fin de registrar los arboles plantados por los usuarios con la vision de impactar positivamente en la reforestacion de todo el territorio nacional, ademas de esto mantener al dia a los usuarios con los conocimientos mas reelevante sobre lo importante que son los arboles y lo bueno que es vivir rodeado de estos.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-footer text-muted">
                  #AppTreeRD, Made with ❤️ 08/12/2020
                </div>
              </div>
        </div>  
    </div>
</div>