<div class="jumbtron">
    <h1 class="display-5 text-center">
        Arboles plantados : {{arboles != null ? arboles.length : 0}} Usuarios registrados : {{users != null ? users.length : 0}} 
    </h1>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  [fitBounds]="true">
   
                <agm-marker *ngFor="let arbol of arboles" [latitude]="arbol.Latitud" [longitude]="arbol.Longitud" [agmFitBounds]="true" [iconUrl]="{url:'../../../assets/images/icon.png', scaledSize : {height: 80, width : 70}}" >
                     <agm-info-window>
                         <img src="../../../assets/images/arbol{{arbol.Id}}.png"><br>
                         🌺Especie : <b>{{arbol.Especie}}</b> <br>
                         🌲Nombre : {{arbol.Nombre}} <br>
                         🌿Plantador : {{arbol.Plantador}} 
                     </agm-info-window>
                 </agm-marker>
             </agm-map>
        </div>
    </div>
</div>

